<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion_green_smoke_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1964},{66,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,271},{66,56}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1964},{96,80}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,260},{96,80}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,388},{142,116}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,242},{142,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1664},{190,150}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,227},{190,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1824},{218,176}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,210},{218,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1816},{228,200}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,200},{228,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1238},{238,212}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,196},{238,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1824},{244,218}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,194},{244,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1158},{256,226}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,193},{256,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,924},{262,232}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,192},{262,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,310},{276,240}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,190},{276,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,676},{284,246}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,187},{284,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,946},{290,248}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,184},{290,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,946},{296,256}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,180},{296,256}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,552},{304,264}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,176},{304,264}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,2},{306,276}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,168},{306,276}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{308,286}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,164},{308,286}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{318,306}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,153},{318,306}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,310},{302,316}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,151},{302,316}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,614},{304,330}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,145},{304,330}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,388},{330,340}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,140},{330,340}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,342},{332,354}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,134},{332,354}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1664},{338,364}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,128},{338,364}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1294},{344,368}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,130},{344,368}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,918},{350,374}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{350,374}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1440},{340,382}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,122},{340,382}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{344,384}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,120},{344,384}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,510},{346,406}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,117},{346,406}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1018},{342,420}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,112},{342,420}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1502},{334,442}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,108},{334,442}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1502},{336,460}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,96},{336,460}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{342,482}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,90},{342,482}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{358,506}}</string>
                <key>offset</key>
                <string>{9,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,80},{358,506}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,506}}</string>
                <key>offset</key>
                <string>{8,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,86},{364,506}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>explosion_green_smoke_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,2},{338,358}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,112},{338,358}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>aaa.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7e06507e93f2b68938664c58a4cb51f$</string>
            <key>textureFileName</key>
            <string>aaa.png</string>
        </dict>
    </dict>
</plist>
